nav {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    background-color: #2A3B49;
}

.logo {
    font-family: Montserrat;
    color: #7BFFE9;
    text-decoration: none;
    font-size: 36px;
    position: absolute;
    left: 27px;
}

.navSubmissions {
    font-family: Montserrat;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    height: 20px;
    width: 174px;
    left: 1077px;
    top: 14px;
}

.navAbout {
    font-family: Montserrat;
    color: #FFFFFF;
    font-size: 16px;
    position: absolute;
    left: 1251px;
}

.navDarkMode {
    font-family: Montserrat;
    color: #7BFFE9;
    font-size: 16px;
    position: absolute;
    left: 1352px;

    
}

.grid {
    position: absolute;
    top: 60px;
    left: 30px;
    display: grid;
    grid-template-columns: repeat(3, 345px);
    gap: 60px 68px;
    grid-template-areas:
    "submissionsTitle submissionsTitle submitForm"
    "nature cuteDogs submitForm"
    "wildAnimals incredibleSights submitForm"
    "travelDiaries wondersOfTheWorld ..";

}

.grid img {
    width: 345px;
    height: 193px;
    border-radius: 8px;
}

.submissionsTitle {
    grid-area: submissionsTitle;
    font-family: Montserrat;
    font-size: 36px;
    text-align: center;
}

.submitForm {
    font-family: Montserrat;
    color: #FFFFFF;
    position: absolute;
    text-align: center;
    grid-area: submitForm;
    width: 481px;
    height: 646px;
    background-color: #2A3B49;
    top: 60px;
    left: 68px;
    border-radius: 8px;
}

.submitForm textarea {
    font-family: Montserrat;
    font-size: 16px;
    color: #d9d9d9;
    width: 360px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 8px;
    overflow: auto;
    margin: 20px 0 0 0;
}

.submissionSubmitButton {
    font-family: Montserrat;
    font-size: 20px;
    border-style: solid;
    border-color: #7BFFE9;
    color: #7BFFE9;
    background-color: transparent;
    padding: 21px 33px 21px 33px;
    border-radius: 90px 90px 90px 90px;
    margin: 41px 0 0 0;
}
.nature {
    grid-area: nature;
}

.cuteDogs {
    grid-area: cuteDogs;
}

.wildAnimals {
    grid-area: wildAnimals;
}

.incredibleSights {
    grid-area: incredibleSights;
}

.travelDiaries {
    grid-area: travelDiaries;
}

.wondersOfTheWorld {
    grid-area: wondersOfTheWorld;
}

figcaption {
    width: 345px;
    display: flex;
    justify-content: space-between;
}